body {
    background: #fafafa;
}

.dino {
    width: 60px;
    height: 60px;
    background: url('../img/dino.png');
    position: absolute;
    bottom: 0;
}

.cacto {
    width: 60px;
    height: 60px;
    background: url('../img/cactus.png');
    position: absolute;
    bottom: 0;

}

